* {
    box-sizing: border-box;
}

html {
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
	   background-color: #000000;
}

h1 {
	color: #000;
  display:none;
}

canvas {
    margin-top: -110px;
    display: block;
    width: 100%;
}

video {
    width: 0;
    height: 0;
    width: 100%;
}

.switch {
	background: #000;
	border: 0;
}

#speech {
    position: fixed;
    top: 0;
    width: 160%;
    margin-top: -120px;
    height: 180%;
	z-index:-9999;
  margin-left: -400px;
	/*top: -95px;*/
}

#barcode img {
  width: 20%;
  margin: auto;
  display: block;
}
